.game {
  display: flex;
  height: 100vh;
  place-items: center;
  place-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  &__over {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__submit {
    margin-bottom: 1rem;
  }
}
